body {
  background-color: #e8ecff;
  font-family: 'Gosha Sans';
}
.wrapper {
  background: #ffffff;
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 30px 30px 0px 0px;
  height: 85%;
  width: 900px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -450px;
}
.first-block {
  margin: 60px 60px 0 60px;
  display: flex;
}
.profile-image {
  box-sizing: border-box;
  width: 150px;
  height: 210px;
  background: url(/img/222.jpg) no-repeat;
  background-size: cover;
  background-position-x: -30px;
  border: 5px solid #000000;
  box-shadow: inset 0px 0px 25px 10px #ffffff;
  border-radius: 20px;
}
.first-block-texts {
  margin-left: 45px;
}
.bakhram {
  font-size: 30px;
  font-weight: 500;
}
.khajimatov {
  font-size: 35px;
  font-weight: 500;
}
.years {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.bio {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.socials {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}
@-webkit-keyframes glow {
  to {
    /* border-color: #ff0000; */
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
}

.profile-image {
  -webkit-animation: glow 1s infinite alternate;
  -webkit-transition: border 1s linear, box-shadow 1s linear;
  -moz-transition: border 1s linear, box-shadow 1s linear;
  transition: border 1s linear, box-shadow 1s linear;
}
